body {
  background-color: #ededed;
}

#hangman-image {
  text-align: center;
  font-family: monospace;
}

#random span {
  font-family: monospace;
  font-size: 4rem;
  margin-right: 1rem;
  border-bottom: 3px solid #000000;
  color: #ededed;
}

#random span.show-letter {
  font-family: monospace;
  font-size: 4rem;
  margin-right: 1rem;
  border-bottom: 3px solid #000000;
  color: #000000;
}
